{% extends './base.html' %} {% block title %}Home{% endblock %} 
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">InFlowAI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/company-create-form/">Create new company</a></li>
            <li><a class="dropdown-item" href="/logoutt/">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>

<div class="container">
<section>
  {% for user_todo in user_todos %}
  <div class="card mt-2">
    <div class="card-header">
      <strong>{{ user_todo.project_name }}</strong>
    </div>
        <form method="POST">
          {% csrf_token %}
          <a
          href="{% url 'Company dashboard' slug=user_todo.project_link %}"
          class="btn btn-primary"
        >
          View Dashboard
        </a>
        </form>
      </div>
    </div>

    <div class="card-footer text-muted">
        {{project.created_at}}
    </div>
  </div>
  {% empty %}
  <p>No companies setup yet, <a href="project-create-form/"> setup one </a></p>
  {% endfor %}
</section>
</div>
{% endblock %}